#formAddPet {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--color-white);
  padding: 2rem;
  border-radius: 10px;
  font-family: var(--font-helvetica);
  h3 {
    margin-bottom: 1rem;
  }
  label {
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
  }

  input {
    width: 200px;
    height: 30px;
    outline: none;
    padding: 5px;
    border: 1px solid var(--color-gray3);
  }

  label[for="description"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #description {
    width: 290px;
    max-width: 300px;
    min-width: 290px;
    max-height: 150px;
    height: 145px;
    min-height: 150px;
    outline: none;
    border: 1px solid var(--color-gray3);
    padding: 10px;
    font-family: var(--font-helvetica);
  }
  #add {
    margin-right: 6px;
    background: #0171ea;
    color: var(--color-white);
    border: 1px solid var(--color-gray3);

    &:hover {
      background: var(--color-white);
      color: var(--color-black);
      border: 1px solid var(--color-gray3);
    }
  }
  #cancel {
    border: 1px solid var(--color-gray3);

    &:hover {
      background: var(--color-white);
      color: var(--color-black);
    }
  }
}
